.margin{
    margin-top: 20px;   
}

.formcenter{
    margin: 0 auto;
}

.form-search{
    width: 94%;
    float: right;
    margin-bottom: 5px;
    margin-left: 5px;
    border: none;
    border-radius: 4px;
}

.icon-right{
    float: left;
}