<div class="col-lg-6 formcenter">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Company Details

        <input type="text" [(ngModel)]="searchText" 
        class="form-search" placeholder="Search By Company" />
        <i class="icon-magnifier icons font-2xl d-block icon-right "></i>    
      </div>
      <div class="card-body">
      
          
        <table class="table">
          <thead >
            <tr >
              <th *ngFor=" let label of labeldetails" (click)="sort('company')">{{label.label}}
                  <i class="fa fa-sort" *ngIf="key =='company'" [ngClass]="{'fa fa-sort-asc':reverse,'fa fa-sort-desc':!reverse}" ></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor=" let detail of details| detail: searchText">
              <td >{{detail.company}}</td>
              <td>{{detail.city}}</td>
              <td>{{detail.web}}</td>
              <td>{{detail.country}}</td>
              <td>{{detail.postal}}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>