<div class="container">

    <div class="col-md-8 formcenter">
      <div class="card">
          <form id="companyForm"  (submit)="submit()">
        <div class="card-header">
          <strong ><b>Company</b></strong>
          <small>Details</small>
        </div>
        <div class="card-body">
          <div class="form-group" *ngFor= "let label of labels">{{label.label}}
              <input type="text" class="form-control" name="{{label.modelname}}"  [(ngModel)]="model[label.modelname]" placeholder="Enter {{label.label}}">
          </div>
        </div>

        <div class="card-footer">
          <button type="submit"  class="btn btn-sm btn-primary" ><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
          </form>
      </div>
    </div>

  </div>