<div class="col-lg-6 formcenter">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Widgets
      </div>
      <div class="card-body">
        <table class="table">
          <thead >
            <tr >
              <th (click)="sort('widgetId')">Id</th>
              <th (click)="sort('summary')">Summary</th>
              <th (click)="sort('widgetTypeId')">Type ID</th>
              <th (click)="sort('unitPrice')">Unit Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let widget of widgets| orderBy: key : reverse; let i = index">
              <td>{{widget.widgetId}}</td>
              <td>{{widget.summary}}</td>
              <td>{{widget.widgetTypeId}}</td>
              <td>{{widget.unitPrice}}</td>

            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>